html, body {
	margin: 0;
	padding: 0;
}
.navbar {
	height: 60px;
	background-color: silver;
}
.navbar a {
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 20px 10px;
	float: left;
}
.navbar a:hover {
	background-color: ;
}
a.navbar-right, .navbar-right {
	float: right;
	padding-left: 6px;
	padding-right: 6px;
}
.nav-margin {
	margin-top: 21px;
}

.login-box{
color: black;
text-decoration: none;
text-align: center;
}
.login-box a {
	color: black;
}
.login-box p {
	display: inline;
	padding: 30px;
}
.deleteform {
	width: 50%;
	float: left;
}
.deleteform table, input{
	width: 90% !important;
	margin-left: 5%;
}
.newuserform{
	width: 50%;
	float: left;
}
.newuserform input, select, textarea {
	width: 90% !important;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 14px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    margin-left: 5%;
}
.admincolor{
	width: 100%;
	min-height: 90vh;
	background-color: none;

;
}
}
form{
    background-color: #f2f2f2;
    padding: 20px;
}
input, select, textarea, .btn {
    width: 50%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 14px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

table{
    border:1px solid;
    width: 50%;
    text-align: center;
    font-family: "arial", sans-serif;
}
td, th {
    border: 1px solid;
    padding: 8px;
}
